.popup__close-button {
  position: absolute;
  right: -40px;
  top: -40px;
  width: 32px;
  height: 32px;
  background-image: url(../../../images/close-button.svg);
  background-position:50%;
  background-repeat:no-repeat;
  border:none;
  background-color:unset;
  cursor: pointer;
  transition: opacity 0.1s ease-in-out;
}

.popup__close-button:hover {
  opacity: .60;
}

@media screen and (max-width: 550px) {
  .popup__close-button {
    background-size: 20px 20px;
    right: -6px;
    top: -42px;
  }
}