.profile__edit-button {
  background-image: url(../../../images/edit-button.svg);
  background-position:50%;
  background-repeat:no-repeat;
  border: 1px solid white;
  min-width: 24px;
  min-height: 24px;
  box-sizing: border-box;
  background-color: transparent;
  cursor: pointer;
  margin: 0 10px 8px 0;
  padding: 0;
  align-self: flex-end;
  transition: opacity 0.1s ease-in-out;
}

.profile__edit-button:hover {
  opacity: 0.60;
}

@media screen and (max-width: 1280px) {
  .profile__edit-button {
    background-size: 7.5px 7.5px;
    min-width: 18px;
    min-height: 18px;
    margin: 0;
    align-self: center;
  }
}