.profile__title {
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  margin: 0;
  padding-top: 6px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 525px;
}

@media screen and (max-width: 1280px) {
  .profile__title {
    font-size: 27px;
    line-height: 33px;
    text-align: center;
    max-width: 242px;
    margin-left: 10px;
  }
}