.auth__button {
  margin: auto 0 0;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  width: 358px;
  height: 50px;
  background-color: white;
  color: black;
  cursor: pointer;
  border-radius: 2px;
  border: none;
  transition: opacity .1s ease-in-out;
}

.auth__button:hover {
  opacity: 0.8;
}