.auth__input {
  width: 100%;
  margin: 0 0 30px;
  font-size: 14px;
  line-height: 17px;
  color: #CCCCCC;
  font-weight: 400;
  font-style: normal;
  padding: 0 0 6px;
  box-sizing: border-box;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #CCCCCC;
}